importFrom(ggplot2, rescale)
import(stringr)
import(plyr)

import(RColorBrewer)

import(sp)
import(raster)
import(rgdal)

export(kml_open, kml_close, kml_compress)

exportMethods(kml, kml_layer, reproject)

exportPattern("^[^\\.]")