importFrom("ggplot2", rescale)
importFrom("colorspace", coords, hex, mixcolor)
importFrom("raster", rotate, shift)
importFrom("sp", coordinates, overlay, bbox, Spatial, SpatialPixels, SpatialPixelsDataFrame, SpatialGrid, SpatialGridDataFrame, spplot)
importFrom("aqp", SoilProfileCollection)
exportClasses(SpatialMetadata, sp.palette)
exportMethods(getCRS, grid2poly, kml, kml_layer, reproject, spMetadata)
exportPattern("^[^\\.]")